.training-container {
    padding: 25px 40px;
}

.steps-training .image-container {
    margin-top: 10px;
}

.steps-training .image-container img {
	width: 140px;
	height: 140px;
}

.steps-training .divider {
	margin: 20px 0px;
}

.steps-training .buttons-bar button {
    margin-right: 5px;
}
