<div class="row steps-training">
    <div class="col-md-12">
        <div class="center-text">
            <!-- ko with: representationTemplate -->

            <!-- ko ifnot: hasOwnComposition -->
            <p class="lead" data-bind="text: representation"></p>
            <!-- /ko -->
            <!-- ko if: hasOwnComposition -->
            <div data-bind="compose: compositionData"></div>
            <!-- /ko -->
            
            <!-- /ko -->
        </div>
        <div class="row image-container">
            <div class="center-text">
                <img data-bind="attr: { src: imagePath }" class="img-circle" />
            </div>
        </div>
        <hr class="divider" />
        <div class="row">
            <div class="col-md-12">
                <div data-bind="compose: trainingLogic"></div>
            </div>
        </div>
        <hr class="divider" />
        <div class="row buttons-bar">
            <!-- ko ifnot: isNextAllowed -->
            <button class="btn btn-warning pull-right" data-bind="click: skipWord">Skip</button>
            <!-- /ko-->
            <!-- ko if: isNextAllowed -->
            <button class="btn btn-default pull-right" data-bind="click: showNext">Give me next!</button>
            <!-- /ko-->
        </div>
    </div>
</div>
